{% extends 'cours.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Transistors et portes logiques </h2>
    Cours à venir ...
    <h3> Les transistors </h3>
    <h3> Circuits intégrés </h3>
    <h3> Portes logiques </h3>
{% endblock %}